:root {
  --base: yellow;
  --spacing: 10px;
  --blur: 10px;
}
body {
  font-family: sans-serif;
  text-align: center;
  background: rgb(1, 115, 209);
  font-weight: 50;
  font-size: 50px;
}
.controls {
  margin-bottom: 50px;
}
img {
  width: 550px;
  height: 350px;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}
.js {
  color: var(--base);
}
